@font-face {
  font-family:'Noto Sans', sans-serif;
  src: url(../fonts/NotoSans-Regular.ttf) format("ttf");
  src: url(../fonts/NotoSans-Regular.woff) format("woff");
  src: url(../fonts/NotoSans-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family:'Noto Sans', sans-serif;
  src: url(../fonts/NotoSans-Bold.ttf) format("ttf");
  src:url(../fonts/NotoSans-Bold.woff) format("woff");
  src:url(../fonts/NotoSans-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "BBCReithSans";
  src: url(../fonts/BBCReithSans_W_Rg.ttf) format("ttf");
  src: url(../fonts/BBCReithSans_W_Rg.woff) format("woff");
  src: url(../fonts/BBCReithSans_W_Rg.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "BBCReithSans";
  src: url(../fonts/BBCReithSans_W_Bd.ttf) format("ttf");
  src: url(../fonts/BBCReithSans_W_Bd.woff) format("woff");
  src: url(../fonts/BBCReithSans_W_Bd.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}
