
$colorWhite: #fff;
$colorBlack: #000;
$colorLinksHeader: #45494F;
$colorMenu : #c4c4c4;
$colorHover: #2E75FF;
$colorMainTitle: #1652AC;
$colorLine: #EDEFF3;
$colorFooter: #A3ADBA;
$colorDescriptionItems: #45494F;
$shadowBg:  0px 1px 4px rgba(0, 0, 0, 0.15);



$colorShadow:  0 10px 10px rgba(138, 136, 136, 0.25), 0 10px 10px rgba(211, 209, 209, 0.22);